.botao-dark-mode {
    position: fixed;
    top: 10px;
    right: 10px;
}
   
.botao-dark-mode input {
    display: none;
}
   
.botao-dark-mode label {
    display: inline-block;
    cursor: pointer;
    font-size: 24px;
}
   